@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* Alpine.js
    ======================================================================== */

    [x-cloak] {
        @apply hidden !important;
    }

    /* RE of Sauce login
    ======================================================================== */

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    body {
        font-family: Raleway;
    }

    h1,
    .h1 {
        font-size: calc(1.375rem + 1.5vw);
        font-weight: 500;
    }

    @media (max-width: 768px) {
        .row {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    @media (min-width: 768px) {
        .row {
            max-width: 60%;
        }
    }

    .form-control {
        display: block;
        width: 100%;
        font-size: 1rem;
        font-weight: 400;
        height: 3.5rem;
        line-height: 1.25;
        padding: 1rem .75rem;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        appearance: none;
        border-radius: 4px;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    
    .form-floating {
        position: relative;
        display: block;
    }

    .form-floating:not(.form-control:disabled)::before {
        width: 0;
    }

    .form-floating>.form-control:-webkit-autofill~label {
        opacity: .65;
        transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
    }

    label {
        display: inline-block;
    }

    @button.kw {
        display: inline-block;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        border-radius: 4px;
        transition: color .15s;
        margin-top: 6px;
        margin-bottom: 6px;
    }

    a {
        color: theme('colors.orange.600');
    }
}
